# folders
src
test
coverage
compiled

# logs
npm-debug.log

# config files
.bithoundrc
.editorconfig
.jshintrc
.travis.yml
rollup.config.js
ts*.json

# ignore files
.gitignore
.npmignore

# ide files
.idea
*.iml

# pack files
*.tgz
